
00_data/derived/osm_data_combined_2023.csv
00_data/derived/osm_data_combined_2023.geojson
00_data/raw/admin/raw_data_estat.Rds
00_data/raw/ess11/ESS11.csv
*_cache/
/cache/
docs/
# Example code in package build process
*-Ex.R
# History files
.httr-oauth
*.knit.md
# knitr and R markdown default cache directories
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
# Output files from R CMD build
# Output files from R CMD check
# pkgdown site
po/*~
# produced vignettes
.Rapp.history
/*.Rcheck/
.RData
.RDataTmp
.Renviron
# R Environment Variables
.Rhistory
.Rproj.user/
rsconnect/
# RStudio Connect folder
# RStudio files
.Ruserdata
# Session Data files
/*.tar.gz
# Temporary files created by R markdown
# translation temp files
# User-specific files
*.utf8.md
vignettes/*.html
vignettes/*.pdf
